@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&family=Marcellus+SC&display=swap");

:root {
  font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2f2924;
  background-color: #f9f7f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #8d6d95;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #6f5178;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
